<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
<strong>Vehicles:</strong>
<table>
  <tr><td>make</td></tr>
  <% @user.vehicles.each do |vehicle| %>
  </tr>
  <td><%= vehicle.make %></td>
  <tr>
  <% end %>
  </table>
  </p>
  

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
